.card {
      top: 200px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
    display: flex;
    border: thin solid rgba(128, 128, 128, 0.381);
    flex-direction: row;
    justify-content: space-between;
    margin:7vh 0;
    }

body{
      background-image: url("http://zpliveeducation.com/download/assets/images/pattern.png");
      background-position:top;
      background-size: cover;
      background-repeat: no-repeat;
      background-repeat: repeat-x;
  }  
.cardText{
  width: 90%;
  padding-top: 5vh;
}
.card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     transform: scale(1.1);
   }
   

.container {
     padding: 2px 16px;
     text-align: center;
   }

.cardItem{
  border: thin solid transparent;
}
.cardItem>img{
  height: 20vh;
  width: 20vh;
}
.cardImg{
  justify-content: flex-start;
}
a:hover{
  text-decoration: none;
}